thead td {
    padding: 15px;
    background-color: pink;
    width: 70px;
    height: 20px;
    font-size: 16px;
    text-align: center;
    vertical-align: center;
    font-weight: 600;
    color: white;
}
thead td:nth-child(2) {
    background-color: #f2dbdb;
}
thead td:nth-child(3) {
    background-color: #e5b8b7;
}
thead td:nth-child(4) {
    background-color: #d99594;
}
thead td:nth-child(5) {
    background-color: #943634;
}
tbody td {
    padding: 15px;
    background-color: pink;
    width: 70px;
    height: 20px;
    font-size: 16px;
    text-align: center;
    vertical-align: center;
    font-weight: 600;
    color: white;
}
tbody tr:nth-child(2n+1) td {
    background-color: lightpink;
}

tbody tr > td:nth-child(1) {
    font-weight: 400;
    font-size: 14px;
    background-color: indianred;
    color: white;
}

tbody td {
    color: black;
}