p {
    color: green;
    text-align: center;
}
.test {
    color: darkred;
}
p:nth-child(2) {
    color: hotpink;
}
a {
    color: darkred;
}
li a {
    color: hotpink;
}
body > ul > li > a {
    color: darkgreen;
}
li > ul {
    list-style-type: none;
}
li:nth-child(3) > ul {
    list-style-type: square;
}
li:nth-child(3) > ul a {
    text-decoration: none;
}